/**********
Reset
primary-light-0:#7bbff0;
primary: #2980b9;
primary-dark-0: #1a4d6f;
primary-dark-1: #032e4d;
primary-dark-2: #031e31;
black: #535353;
grey: #dedede;
green-lightt-0:#55efc4;
green: #29787c;
**********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid #ccc; */
}

body {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #535353;
}

/**********
Layout
**********/

.container {
  width: 960px;
  margin: 0 auto;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  color: #535353;
}

.h2-container {
  display: flex;
  justify-content: center;
}

h2 {
  font-weight: 700;
  font-size: 32px;
  position: relative;
  display: inline-block;
}

h2::before {
  content: "";
  display: block;
  width: 30px;
  height: 5px;
  background: #2980b9;
  position: absolute;
  bottom: -10px;
}

.btn {
  border-radius: 3px;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
}

.btn-outline {
  border: 1px solid #2980b9;
  color: #2980b9;
  transition: all 0.5s;
}

.btn-outline:hover {
  border: 1px solid #7bbff0;
  color: #7bbff0;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
}

.btn-full {
  background: #2980b9;
  color: #fff;
  transition: all 0.5s;
}

.btn-full:hover {
  background: #1a4d6f;
}


/**********
Utilities
**********/

.pt-90 {
  padding-top: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-20 {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}
/**********
Nav
**********/

nav {
  padding: 16px 0;
}

.nav-logo {
  display: block;
  width: 130px;
  float: left;
}

.nav-list {
  list-style: none;
  float: right;
}

.nav-list li {
  display: inline-block;
  margin-top: 20px;
  margin-right: 16px;
}

.nav-list li:last-of-type {
  margin-right: 0px;
}

/**********
Header
**********/

header {
  background: url("../img/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 750px;
  position: relative;
}

.header-container {
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 20px;
  display: inline-block;
  position: absolute;
  top: 75%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.header-h1 {
  font-weight: 300;
  font-size: 42px;
  margin: 0 0 10px 0;
}

.subtitle {
  color: #dedede;
  font-style: italic;
  margin-top: 10px;
  text-transform: capitalize;
}

/**********
About
**********/

.about-text {
  line-height: 1.8;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}